service: kimgreenough-sites

provider:
  name: aws
  runtime: nodejs6.10
  stage: dev
  region: us-west-2

functions:
  getFeed:
    handler: handler.getInstagramFeed
    events:
      - http:
          path: instagramfeed
          method: get
  sendPortfolioMessage:
    handler: handler.sendPortfolioMessage
    events:
      - http:
          path: portfolio/contact
          method: post
  sendCommissionInquiry:
    handler: handler.sendCommissionInquiry
    events:
      - http:
          path: commission/inquiry
          method: post
  sendCommissionMessage:
    handler: handler.sendCommissionMessage
    events:
      - http:
          path: commission/message
          method: post

